/*----bg and font part start ----*/
body{
    background:  white;
    font-family: 'Poppins', sans-serif;
}
/*----bg and font part start ----*/

/*----header start----*/
.header-part{
    display: flex;
    background-color: blue;
    width: 100%;
    height: 500px;
    margin: 0;
    align-items: center;
    
} 
.welcom-part{
    width: 70%;
    padding-left: 100px;

}
.welcome-talk{
    font-size: 30px;
    color: wheat;
    padding-left: 15px;
}
.header-part img{
    width: 40%;
    float:right;
    padding: 50px 40px  ;
}

/*----header end----*/


 /*-- !body section-1 start --*/
 .player-list{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     width: 1050px;
     margin: auto;  
 }
 .player-detail{
    margin: 15px;
    padding: 10px;;
    box-shadow: 10px 10px 10px 10px whitesmoke;
 }
.player-detail img{
    width: 100%;
}
.player-name{
    font-size: 28px;
    margin: 10px 0px;
}
.player-info p{
    font-size: 16px;
    margin: 10px 0px;
}
 /*-- !body section-1 end  ---*/

/*-- !body section-2 start  ---*/
 .world-events{
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     width: 1050px;
     margin: auto;
 }
 .events{
     display: flex;
     margin: 50px;
     align-items: center;
 }
 .events img{
     width: 600px;
     padding: 15px;
 }
 .Highlights{
     font-size: 28px;
     padding-left: 15px;
 }
 .events p{
     font-size: 16px;
     padding-left: 15px;

 }
 a{
     color: white;
     font-size: 12px;
     text-decoration: none;
     text-transform: uppercase;
     background: blueviolet;
     margin-left: 15px;
     padding: 5px 10px;
 }
 .events .fa{
     color: white;
     font-size: 15px;
     background: none;
 }

#wordlcup-2022:hover{
    transform: scaleX(1.2) scaleY(1.5);

 }

 /*-- !body section-2 end  ---*/
 /*------fotter part start -----*/

.fotter-part{
   margin-top: 50px;
}
.fotter img{
    width:300px;
    display: block;
    margin: auto;
}
#icons{
    margin: auto;
    width: 100%;
    color: silver; 
    text-align:center !important;
}
.fa{
    background-color: gainsboro;
    padding: 5px;
    border-radius: 50%;
}
/*----last style overight first one so , #live-watch .fa here--*/

#live-watch .fa{
    color: white;
    font-size: 15px;
    background: none;
}
#copyright{
    font-size: 16px;
    text-align: center;
}
#copyright .fa{
    background: none;
}

 /*------fotter part end -----*/

 animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {transform: rotate(180deg);}
}